@import url('https://fonts.googleapis.com/css2?family=ABeeZee:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

.parent {
    /* background-color: #e21212; */
    width: 100vw;
    height: 100vh;
    /* background-color: darkgray; */
    /* overflow-x: hidden;
    overflow-y: hidden; */

}

.header {
    /* position: fixed; */
    width: 100vw;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    position: fixed;
    background-color: #FFF;
}

.nsdc {
    width: 77px;
    height: 35px;
    background: url("assets/NSDC_Logo_in_clear_background 1.svg"), no-repeat;
}

.accio {
    color: #012555;
    font-family: Bai Jamjuree;
    font-size: 21.714px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    /* 175% */
    letter-spacing: -0.869px;
}

.vertical-line {
    width: 1px;
    height: 32px;
    background: #DADADA;
}

.hero {
    flex-wrap: nowrap !important;
    width: 100%;
    padding: 90px 108px !important;
    /* height: 100%; */
    /* position: absolute !important; */

}
.courses{
    flex-wrap: nowrap !important;
    width: 100%;
    padding: 106px 108px !important;
    /* background-color: #ECF8FF; */
    z-index: -20;
    /* height: 100%; */
}
.nav-bar{
    flex-wrap: nowrap !important;
    width: 100%;
    padding: 0px 108px !important;
    height: 100%;
    /* margin-top: 6px; */
}
.nav-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    background: var(--primaryskyblue, #2F80ED);

}

.navbar-collapse {
    display: none;
}



.dropdown:hover>.dropdown-menu {
    display: block;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--Gray-2, #4F4F4F);
}


.Companies{
    margin-top: 6vh;
    height: 80vh
}

.div-card{
 
    width: 98%;
    box-shadow: 0px 0px 3px black;
    border-radius: 8px;
    padding: 15px;
    margin-top: -39px;
    background-color: white;

     /* height: 20px; */
     /* background-color: #c3cad4; */
}
.right-hero ,.left-hero{
    /* border: 2px solid green; */
}
.right-hero{
    width: 32%;
    display: inline-flex;
    padding: 30px 17px 13px 24px;
    margin-top: 27px;
flex-direction: column;
align-items: center;
gap: 28px;
border-radius: 18px;
background: #FFF;
box-shadow: 0px 25px 54px 0px rgb(216 28 28 / 12%);
}
.lakhs{
    font-family: ABeeZee;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 130%; 
}
.p-dec{
    color: var(--Gray-2, #4F4F4F);
  
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 18.6px */
    letter-spacing: 0.12px;
    margin:0px !important;
}
.inner-left{
    height: inherit;
}
.Companies button{
    margin-left: 40%;
}



.card-item{

  

display: flex;
justify-content: space-between;
}

.beg-card{
    width: 40vw;
    height: 500px;
    border: 2px solid var(--primaryskyblue, #2F80ED);
    background: #FFF;
z-index: -1;
    border-radius: 9px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.beg-head{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
gap: 12px;
}
.p-g{
    gap: 18px;
    border-radius: 7px;
}

.Guarantee{
    border-radius: 7px;
    background: #E0F3FF; 
    padding: 6px 15px;
color: #1D78B0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Guarantee-inter{
    color: #965400;
    border-radius: 7px;
    background: var(--subtle-orange, #FFEED8);

    padding: 6px 15px;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.last-h{
    color: #565656;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.card .bg-card table tr td{
    color: #000;
font-family:ABeeZee;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
text-align: center;
/* border-top-style: hidden; */
}
.card .bg-card table tr{
    border-bottom-style: 1px solid black;
}


@media screen and (max-width:600px) {
    .navbar-collapse {
        display: block;
    }
    .card-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

}

.accio-wall>p {
    margin: auto;
    /* margin-top: 50px; */
    color: #2B2F34;
    text-align: center;
    font-family: ABeeZee;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.63px;
}

.accio-wall>h6 {
    margin: auto;
    color: #2B2F34;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.63px;
}

.card-1 {
    width: 350px;
    border: 1px solid rgb(216, 210, 210);
    border-radius: 15px;
    margin-bottom: 20px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 5px 9px 40px rgba(0,0,0,.08);
}

.name>p {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: italic;
    margin: 0px;
    margin-left: 20px;


}
.link-din{
    transition: all .3s ease-in;
}
.link-din:hover{
    cursor: pointer;
   transform: scale(1.2);
}

.name>img {
    transition: all .3s ease-in;

}
.name>img:hover{
    cursor: pointer;
   transform: scale(1.1);

}

.edu {
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 602;
}

.card-1>p {
    color: #676767;
    font-size: 15px;
}

.link-din {
    margin: auto;
    height: 20px;
    width: 20px;
    margin-left: 50px;
}

.date {
    font-weight: 700px;
}

